.clearfix:after {
	display: block;
	visibility: hidden;
	content: "";
	clear: both;
	height: 0;
}

body {
	background-color: rgba(64,146,0,0.2);
}

.team-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	font-family: "Liberation Mono";

	.player {
		margin: 5px;
		width: 80%;
		height: auto;
		background: rgb(95,129,119);
		color: rgba(0,53,5,0.9);
		font-weight: bold;

		&:hover {
			opacity: 1 !important;
			color: rgba(0,53,5,1);
			cursor: pointer;
		}

		.player-header {
			background: rgb(95,129,119);
			padding: 7px;

			div {
				margin: 15px 5px;
				min-width: 180px;
				display: inline-block;
			}
		}

		.player-info {
			display: none;
			background: #9cb8b0;
			padding: 7px;

			&.active {
				display: block;
			}

			.player-goals, .player-caps {
				margin: 15px 5px;
				color: black;

				div:first-child {
					width: 200px;
					display: inline-block;
					float: left;
				}
				div:last-child {
					display: inline-block;
				}
			}

			.player-bio {
				margin: 15px 5px;
				color: black;
				font-weight: normal;
			}
		}

	}
}
