@import '../../index';

.team-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	font-family: "Liberation Mono";
	@include noselect();

	.player {
		margin: 2px;
		width: 80%;
		height: auto;
		background: rgb(95,129,119);
		color: rgba(0,53,5,0.9);
		font-weight: bold;

		&:hover {
			opacity: 1 !important;
			color: rgba(0,53,5,1);
			cursor: pointer;
		}

		.player-header {
			padding: 7px;
			display: inline-block;
			width: 90%;

			div {
				margin: 8px 5px;
				min-width: 180px;
				display: inline-block;
			}
		}

		.player-profile-link {
			margin: 8px 5px;
			color: #e6f355;
			font-weight: bold;
			float: right;
    	padding: 7px;
			max-width: 10%;

			&:hover {
				background: rgba(168, 145, 239, 0.37);
			}
		}

		.player-info {
			display: none;
			background: #9cb8b0;
			padding: 7px;

			&.active {
				display: block;
			}

			.player-goals, .player-caps {
				margin: 15px 5px;
				color: black;

				div:first-child {
					width: 200px;
					display: inline-block;
					float: left;
				}
				div:last-child {
					display: inline-block;
				}
			}

			.player-bio {
				margin: 15px 5px;
				color: black;
				font-weight: normal;
			}
		}

	}
}
