@import '../../index';

.teams-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	font-family: "Liberation Mono";
	@include noselect();

	.team-item {
		position: relative;
		margin: 10px;
		padding: 10px;
		width: 300px;
		height: 330px;
		color: rgba(0,53,5,0.9);
		font-weight: bold;

		&:hover {
			opacity: 1 !important;
			color: rgba(0,53,5,1);
			cursor: pointer;
		}

		.team-group {
			margin: 15px 5px;
			font-size: 24px;
			text-align: center;
		}

		.team-title {
			text-align: center;
			cursor: pointer;
		}

		.team-coach {
			margin: 15px 5px;
			color: black;

			div:first-child {
				display: inline-block;
				float: left;
			}
			div:last-child {
				display: inline-block;
				float: right;
			}
		}

		.team-bio {
			margin: 15px 5px;
			color: black;
			font-weight: normal;
		}

		.team-rank {
			position: absolute;
			bottom: 10px;
			width: 290px;
			margin: 5px 5px;

			div:first-child {
				display: inline-block;
				float: left;
			}
			div:last-child {
				display: inline-block;
				float: right;
			}
		}
	}
}
