.comments-form {
	position: relative;
	display: inline-block;
	color: #00480d;

	.form-input {
		margin: 0px 15px 10px;

		input {
			height: 35px;
   			width: 270px;
   			outline: none;
   			border: 0px;
   			color: #00480d;
   			background: beige;
		}
	}

	.form-btn {
		margin: 15px;

		button {
			margin-right: 15px;
			height: 45px;
			background: #80bf80;
			border: 0;
			outline: none;
			cursor: pointer;
			color: #00480d;

			&:hover {
				background: #46a246;
			}
		}
	}
}