.teams-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	font-family: "Arial Black", Gadget, sans-serif;

	.team-item {
		padding: 10px;
		width: 300px;
	}
}