.clearfix:after {
	display: block;
	visibility: hidden;
	content: "";
	clear: both;
	height: 0;
}

body {
	background-color: rgba(64,146,0,0.2);
}

.teams-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	font-family: "Liberation Mono";

	.team-item {
		margin: 10px;
		padding: 10px;
		width: 300px;
		height: auto;
		color: rgba(0,53,5,0.9);
		background-color: rgba(64,146,0,0.5);
		font-weight: bold;

		&:hover {
			background-color: rgba(64,146,0,1);
			color: rgba(0,53,5,1);
			cursor: pointer;
		}

		.team-group {
			font-size: 24px;
			text-align: center;
		}

		.team-title {
			text-align: center;
			cursor: pointer;
		}

		.team-coach {
			margin: 15px 5px;
			color: black;

			div:first-child {
				display: inline-block;
				float: left;
			}
			div:last-child {
				display: inline-block;
				float: right;
			}
		}

		.team-bio {
			margin: 15px 5px;
			color: black;
			font-weight: normal;
		}

		.team-rank {
			margin: 15px 5px;

			div:first-child {
				display: inline-block;
				float: left;
			}
			div:last-child {
				display: inline-block;
				float: right;
			}
		}
	}
}
