@import "../../index.css";

.header {
	position: relative;
	top: 0px;
	left: 0px;
	background: #4e6d54;

	.breadcrumbs {
		color: green;

		.bc-item {
			margin: 10px;
			padding: 10px;
			display: inline-block;
			background: aquamarine;
			cursor: pointer;

			&:hover {
				background: #2affb7;
			}
		}
	}
}
