@import "../../index";

.header {
	position: relative;
	top: 0px;
	left: 0px; 
	background: #8dbdad;
	@include noselect();

	.breadcrumbs {
		color: green;
		background: #4e6d54;

		.bc-item {
			margin: 10px;
			padding: 10px;
			display: inline-block;
			background: aquamarine;
			cursor: pointer;

			&:hover {
				background: #2affb7;
			}
		}
	}
}

