@import '../../index.css';

.teams-groups {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	font-family: "Liberation Mono";

	div {
		margin: 10px;
		padding: 10px;
		width: auto;
		height: auto;
		padding: 20px 35px;
		background: rgba(165,17,0,0.6);
		color: white;
		font-weight: bold;

		&:hover {
			cursor: pointer;
			background: rgba(165,17,0,1);
		}

		&.active-group {
			background: rgba(165,17,0,1);
		}
	}
}
