.comments-container {
	color: #001b86;

	.comment {
		margin: 15px;
		padding: 10px;
		word-wrap: break-word;
		background: #a1d0ae;
		
		div:first-child {
			font-weight: bold;
			margin-bottom: 10px;
		}
	}
}